{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }],
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./"
                }
            }
        ]
    ],
    "sourceMaps": true,
    "retainLines": true,
    "collectCoverageFrom": ["src/**/*.ts"],
    "coveragePathIgnorePatterns": ["/node_modules/"]
}
